<html lang="en">
	<head>
		{{> head}}
	</head>
	<body>
		<div class="container-fluid">
			{{> menuside}}
			<!-- Right (content) side -->
			<section class="content-block" role="main">

				<!-- Page header -->
				<article class="page-header">
					<h1>Edit Response</h1>
					<p class="lead">Edit a response submitted by a user.</p>
				</article>
				<!-- /Page header -->
				
				<!-- Grid row -->
				<div>

					<!-- Data block -->

					<article class="data-block">
						<div class="data-container">
							<header>
								<h2>Response information</h2>
							</header><!-- /header -->
							<section class="tab-content">
							
								<!-- Side tabs -->
								<div class="tabbable tabs-left">

									<ul class="nav nav-tabs">
										<li class="active"><a href="#tab1" data-toggle="tab"><i class="fa fa-fw fa-pencil"></i>General</a></li>
									</ul>

									<!-- Tab content -->
									<div class="tab-content">
										<!-- Tab #1 -->
										{{#responseedit}}
										<div class="tab-pane active" id="tab1">
											<span class="btn btn-alt btn-file pull-right">
												<a href="/admin/responses/{{_id}}/delete" class="fileupload-exists">Delete</a>
											</span>
											<h2>General</h2>
											<form class="form-horizontal" method="post">
												<fieldset>
													<div class="control-group">
														<label class="control-label" for="input">Time &amp; Date</label>
														<div class="controls">
															<span>{{ts}}</span>
														</div>
													</div>
													<div class="control-group">
														<label class="control-label" for="textarea">Data</label>
														<div class="controls">
															<textarea name="comments">{{data}}</textarea>
															<p class="help-block">Data from the upload</p>
														</div>
													</div>
													<div class="control-group">
														<label class="control-label" for="textarea">Files</label>
														<div class="controls">
															<textarea name="comments">{{files}}</textarea>
															<p class="help-block">Files from the upload</p>
														</div>
													</div>
													<div class="form-actions">
														<button class="btn btn-alt btn-large btn-primary" type="submit">Save changes</button>
													</div>
												</fieldset>
												{{/responseedit}}
											</form>
										</div>

									</div>
									<!-- Tab content -->

								</div>
								<!-- /Side tabs -->
								
							</section>
						</div>
					</article>
					<!-- /Data block -->
			</section>
		</div>
		{{> script}}
	</body>
</html>
