#mapareas{
	position: absolute;
	right: 20px;
	top: 20px;
	z-index: 100;
	background: #FFF;
	padding: 10px;
	border-radius: 10px;
	border: 1px solid #000;
	box-shadow: 1px 1px 2px #444;
	border: 1px solid #444;
}